.column-art {
  padding-right: 0px;
  padding-left: 0px;
}

.column-details {
  padding-left: 5%;
}

.album-art {
  box-shadow: 0 0 50px -25px #333;
}

.album-art._17 {
  text-transform: none;
}

.album-title {
  padding-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 58px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: none;
}

.album-title.white {
  color: #fff;
}

.album-title.white.second {
  font-size: 40px;
  font-weight: 300;
}

.album-row {
  padding-right: 10%;
  padding-left: 10%;
}

.artist {
  display: block;
  padding-bottom: 50px;
  padding-left: 0px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 26px;
  line-height: 28px;
  font-weight: 300;
}

.artist.white {
  border-left-color: #fff;
  color: #fff;
}

.released {
  padding-bottom: 15px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}

.released.white {
  border-top-color: #fff;
  color: #fff;
}

.released.white.years {
  padding-top: 5vh;
}

.released.whtie {
  color: #fff;
}

.date {
  display: block;
  font-family: Poppins, sans-serif;
  color: #ec9650;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.date.beach {
  color: #0625cf;
}

.date.andy {
  color: #ce3437;
}

.date.whitney {
  color: #8f4661;
}

.date.pinegrove {
  color: #ad2229;
}

.date.diiv {
  color: #e94443;
}

.date.animal {
  color: #15849d;
}

.date.car {
  color: #555;
}

.date.kay {
  color: #fde601;
}

.date.rufus {
  color: #0a2543;
}

.date.lvl {
  color: #f6894c;
}

.date.cymbals {
  color: #1b3b52;
}

.date.vulf {
  color: #eb3f34;
  text-decoration: none;
}

.date.omni {
  color: #d3d5bf;
}

.date.tourist {
  color: #34ffae;
}

.date.chair {
  color: #d17969;
}

.date.kendrick {
  color: #fff;
}

.date.jeff {
  color: #d1b7c4;
}

.date.phanto {
  color: #9ccfe4;
}

.date.iii {
  color: #ddb853;
}

.album-section {
  position: relative;
  z-index: 99;
  padding-top: 200px;
  padding-bottom: 200px;
}

.album-section.footer {
  padding: 30vh 10% 5vh;
}

.album-section.header {
  display: block;
  height: 100vh;
  padding: 15vh 2% 50vh 10%;
}

.background-colors {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
}

.color-20 {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #b4c6da;
  opacity: 0;
}

.color-19 {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: #1a235d;
  opacity: 0;
  color: #000;
}

.color-18 {
  position: fixed;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: #2584c6;
  opacity: 0;
}

.color-17 {
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: #4a6ea8;
  opacity: 0;
}

.color-16 {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: #4bb5c3;
  opacity: 0;
}

.color-15 {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.color-14 {
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: #232323;
  opacity: 0;
}

.color-13 {
  position: fixed;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: #3a3b01;
  opacity: 0;
}

.color-12 {
  position: fixed;
  z-index: 13;
  width: 100%;
  height: 100%;
  background-color: #7bf3d7;
  opacity: 0;
}

.color-11 {
  position: fixed;
  z-index: 14;
  width: 100%;
  height: 100%;
  background-color: #dc3046;
  opacity: 0;
}

.color-10 {
  position: fixed;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  opacity: 0;
}

.color-9 {
  position: fixed;
  z-index: 16;
  width: 100%;
  height: 100%;
  background-color: #fefef6;
  opacity: 0;
}

.color-8 {
  position: fixed;
  z-index: 17;
  width: 100%;
  height: 100%;
  background-color: #c99997;
  opacity: 0;
}

.color-7 {
  position: fixed;
  z-index: 18;
  width: 100%;
  height: 100%;
  background-color: #dee1ca;
  opacity: 0;
}

.color-6 {
  position: fixed;
  z-index: 19;
  width: 100%;
  height: 100%;
  background-color: #611b95;
  opacity: 0;
}

.color-5 {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  opacity: 0;
}

.color-4 {
  position: fixed;
  z-index: 21;
  width: 100%;
  height: 100%;
  background-color: #efe9dc;
  opacity: 0;
}

.color-3 {
  position: fixed;
  z-index: 22;
  width: 100%;
  height: 100%;
  background-color: #e4e9e7;
  opacity: 0;
}

.color-2 {
  position: fixed;
  z-index: 23;
  width: 100%;
  height: 100%;
  background-color: #7e7d85;
  opacity: 0;
}

.color-1 {
  position: fixed;
  z-index: 24;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.color-header {
  position: fixed;
  z-index: 4;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #242424;
}

.numbers {
  position: absolute;
  margin-top: -85%;
  margin-left: 90%;
  padding-bottom: 0px;
  font-size: 200px;
}

.numbers.small {
  margin-top: -85%;
}

.year {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: -1px;
  text-decoration: none;
}

.other-year-column {
  padding-left: 0px;
}

.number {
  margin-left: -3px;
  padding-top: 5px;
  padding-bottom: 5vw;
  font-family: Poppins, sans-serif;
  color: #ec9650;
  font-size: 125px;
  line-height: 100px;
  font-weight: 700;
}

.number.pinegrove {
  color: #ad2229;
}

.number.animal {
  color: #15849d;
}

.number.diiv {
  color: #e94443;
}

.number.car-seat {
  color: #555;
}

.number.kay {
  color: #fde601;
}

.number.andy {
  color: #ce3437;
}

.number.rufus {
  color: #0a2543;
}

.number.lvl {
  color: #f6894c;
}

.number.whitney {
  padding-bottom: 4vw;
  color: #8f4661;
}

.number.beach {
  color: #0625cf;
}

.number.cymbals {
  color: #1b3b52;
}

.number.vulf {
  color: #eb3f34;
}

.number.omni {
  color: #d3d5bf;
}

.number.tourist {
  color: #34ffae;
}

.number.chair {
  color: #d17969;
}

.number.iii {
  color: #ddb853;
}

.number.kendrick {
  color: #fff;
}

.number.jeff {
  color: #d1b7c4;
}

.number.phanto {
  color: #9ccfe4;
}

.spacer {
  height: 6vw;
}

.top-track {
  padding-bottom: 15px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}

.top-track.white {
  color: #fff;
}

.track {
  display: block;
  font-family: Poppins, sans-serif;
  color: #ec9650;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: none;
}

.track:hover {
  opacity: 0.5;
}

.track.andy {
  color: #ce3437;
}

.track.whitney {
  color: #8f4661;
}

.track.pinegrove {
  color: #ad2229;
}

.track.diiv {
  color: #e94443;
}

.track.animal {
  color: #15849d;
}

.track.car {
  color: #555;
}

.track.kay {
  color: #fde601;
}

.track.rufus {
  color: #0a2543;
}

.track.lvl {
  color: #f6894c;
}

.track.beach {
  color: #0625cf;
}

.track.cymbals {
  color: #1b3b52;
  font-size: 18px;
}

.track.vulf {
  color: #eb3f34;
}

.track.omni {
  color: #d3d5bf;
}

.track.tourist {
  color: #34ffae;
}

.track.chair {
  color: #d17969;
}

.track.iii {
  color: #ddb853;
}

.track.kendrick {
  color: #fff;
}

.track.jeff {
  color: #d1b7c4;
}

.track.phanto {
  color: #9ccfe4;
}

.logo {
  padding-bottom: 200px;
}

.honorable-mention {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.honorable-song {
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 58px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -1px;
}

.details-row {
  padding-bottom: 30px;
}

.top-top {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 999;
  display: block;
  height: 10px;
}

.top-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10px;
}

.top-color {
  display: block;
  width: 5%;
  height: 100vh;
  background-color: #b4c6da;
  cursor: pointer;
}

.top-color:hover {
  margin-top: 20px;
}

.top-color._19 {
  background-color: #1a235d;
}

.top-color._18 {
  background-color: #2584c6;
}

.top-color._17 {
  background-color: #4a6ea8;
}

.top-color._16 {
  background-color: #4bb5c3;
}

.top-color._15 {
  background-color: #fff;
}

.top-color._14 {
  background-color: #232323;
}

.top-color._13 {
  background-color: #3a3b01;
}

.top-color._12 {
  background-color: #7bf3d7;
}

.top-color._11 {
  background-color: #dc3046;
}

.top-color._10 {
  background-color: #e0e0e0;
}

.top-color._9 {
  background-color: #fefef6;
}

.top-color._8 {
  background-color: #c99997;
}

.top-color._7 {
  background-color: #dee1ca;
}

.top-color._6 {
  background-color: #611b95;
}

.top-color._5 {
  background-color: #efefef;
}

.top-color._4 {
  background-color: #efe9dc;
}

.top-color._3 {
  background-color: #e4e9e7;
}

.top-color._2 {
  background-color: #7e7d85;
}

.top-color._1 {
  background-color: #fff;
}

.anchor {
  width: 100%;
  height: 100%;
}

.link-block {
  text-decoration: none;
}

html.w-mod-js *[data-ix="color-bar-1"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-2"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-3"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-4"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-5"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-6"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-7"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-8"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-9"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-10"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-11"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-12"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-13"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-14"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-15"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-16"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-17"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-18"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-19"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="color-bar-20"] {
  -webkit-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
}

html.w-mod-js *[data-ix="slide-right"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="slide-right-2"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="slide-right-3"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="slide-right-4"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="fade-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="fade-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

html.w-mod-js *[data-ix="fade-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}

@media (max-width: 991px) {
  .column-details {
    padding-right: 0px;
  }
  .album-title.white {
    padding-right: 290px;
    line-height: 68px;
  }
  .artist {
    padding-bottom: 40px;
  }
  .date {
    line-height: 22px;
  }
  .album-section {
    padding-top: 0px;
    padding-bottom: 200px;
  }
  .album-section.footer {
    padding-right: 5%;
  }
  .album-section.header {
    padding-top: 10vh;
  }
  .other-year-column {
    padding-bottom: 20px;
  }
  .number.cymbals {
    padding-bottom: 4vw;
  }
  .spacer {
    height: 8vw;
  }
  .honorable-song {
    line-height: 68px;
  }
}

@media (max-width: 767px) {
  .column-details {
    padding-left: 0%;
  }
  .date.cymbals {
    padding-bottom: 25px;
  }
  .date.jeff {
    padding-bottom: 25px;
  }
  .year {
    font-size: 32px;
    line-height: 36px;
  }
  .spacer {
    height: 10vw;
  }
  .track {
    line-height: 22px;
  }
  .honorable-song {
    font-size: 32px;
    line-height: 42px;
  }
  .top-top {
    display: block;
  }
}

@media (max-width: 479px) {
  .column-details {
    padding-right: 0px;
    padding-left: 0%;
  }
  .album-title {
    padding-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
  }
  .album-title.white {
    font-size: 36px;
    line-height: 36px;
  }
  .album-title.white.header {
    font-size: 50px;
    line-height: 54px;
  }
  .album-title.white.second {
    padding-right: 20px;
    font-size: 28px;
  }
  .album-row {
    padding-right: 5%;
    padding-left: 5%;
  }
  .artist {
    padding-bottom: 30px;
    font-size: 28px;
    line-height: 38px;
  }
  .released {
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
  }
  .released.white {
    font-size: 12px;
  }
  .released.white.years {
    font-size: 12px;
  }
  .date {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
  }
  .date.beach {
    font-size: 16px;
    line-height: 20px;
  }
  .album-section {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .album-section.footer {
    padding: 60px 5% 40px;
  }
  .album-section.header {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .background-colors {
    display: block;
  }
  .color-header {
    display: block;
  }
  .numbers {
    margin-top: -355px;
    margin-left: 72%;
  }
  .numbers.small {
    margin-top: -105%;
    margin-left: 79%;
  }
  .year {
    border-bottom: 1px none #fff;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    line-height: 34px;
    font-weight: 700;
    text-decoration: none;
  }
  .other-year-column {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  }
  .body {
    background-color: #333;
  }
  .number {
    padding-bottom: 5vw;
  }
  .number.beach {
    font-size: 90px;
  }
  .number.vulf {
    font-size: 90px;
  }
  .number.tourist {
    font-size: 90px;
  }
  .top-track {
    padding-bottom: 10px;
  }
  .logo {
    margin-left: -7px;
    padding-bottom: 100px;
  }
  .honorable-song {
    line-height: 37px;
  }
  .top-top {
    display: block;
  }
}

